/* 
.screen {
  margin-top: 22px;
  position: relative;
  height: 609px;
  width: 322.5px;
  background-color: white;
  cursor: grab;
  user-select: none;
  perspective: 700px;
  overflow-x: hidden;

} */

.screen {
  margin-top: 20px;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  cursor: grab;
  user-select: none;
  perspective: 600px;
  overflow-x: hidden;
}
